@model SmartEventPlatformWeb.ViewModels.Speakers.SpeakerDetailsViewModel

@{
    ViewData["Title"] = "Speaker Details";
}

<h1>Details</h1>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertiseAreas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpertiseAreas)
        </dd>
    </dl>
</div>

<div>
    <h4>Events</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>Role</th>
                <th>Topic</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in Model.EventSpeakersParticipations)
            {
                <tr>
                    <td>@ev.EventName</td>
                    <td>@ev.RoleName</td>
                    <td>@ev.Topic</td>
                    <td>@ev.Time</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.SpeakerId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
</div>
