@model IEnumerable<SmartEventPlatformWeb.ViewModels.Speakers.SpeakerListViewModel>

@{
    ViewData["Title"] = "Speakers";
}

<h1>Speakers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Speaker</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpertiseAreas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpertiseAreas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SpeakerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SpeakerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SpeakerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
