@model IEnumerable<SmartEventPlatformWeb.ViewModels.Locations.LocationListViewModel>

@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Location</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>